{{#each assessmentlists}}
  <section class="ui stacked segment">
    <h2 class="ui header">
      {{title}}'s Assessments
    </h2>
    <p> Number of Assessments: {{assessmentlists.length}} </p>
    <a href="/assessmentlist/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    <a href="/dashboard/deleteassessmentlist/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
    </a>
  </section>
{{/each}}

