{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    KB Gym
  </h3>
  <p>
    Kick Boxing Gym Application - Version 1.0
  </p>
  <p>
    Version 1 will be based on Grade Range: Baseline.
  </p>
</section>