{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    KB Gym
  </h3>
  <p>
    Kick Boxing Gym Application - Version 1.0
  </p>
    <p>
    Version 1 will be based on Grade Range: Baseline.
  </p>
  <section class="ui segment">
    <table  class="ui table">
      <thead>
        <tr>
          <th>Developer</th>
          <th>Company</th>
          <th>Contact us</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Arshad Ali</td>
          <td>Smart Work</td>
          <td>Arshadali@smartwork.ie</td>
        </tr>
      </tbody>
    </table>
  </section>  
</section>